.viewport {
        width: 468px;
        height: 330px;
        margin: 0 auto;
}
 
.box1 img {
width:468px;
height:330px;
background:rgba(255,0,0,0.5);
 
animation-name: spinning;
-moz-animation-name:spinning;
-webkit-animation-name:spinning;
 
animation-duration: 5s;
-moz-animation-duration: 5s;
-webkit-animation-duration: 5s;
 
animation-timing-function: ease;
-moz-animation-timing-function: ease;
-webkit-animation-timing-function: ease;
 
animation-delay: 10;
-moz-animation-delay: 10;
-webkit-animation-delay: 10;
 
animation-iteration-count: 1;
-moz-animation-iteration-count: 1;
-webkit-animation-iteration-count: 1;
 
animation-direction: normal;
-moz-animation-direction: normal;
-webkit-animation-direction: normal;
 
}
 
@keyframes spinning
{
0%   {width:10px; height: 7px; transform:rotate(0deg);}
100% {width:468px; height: 330px; transform:rotate(1440deg);}
}
 
@-moz-keyframes spinning /* Firefox */
{
0%   {width:10px; height: 7px; -moz-transform:rotate(0deg);}
100% {width:468px; height: 330px; -moz-transform:rotate(1440deg);}
}
 
@-webkit-keyframes spinning /* Safari and Chrome */
{
0%   {width:10px; height: 7px; -webkit-transform:rotate(0deg);}
100% {width:468px; height: 330px; -webkit-transform:rotate(1440deg);}