body {
  padding-top: 50px;
}

.container {
  vertical-align: middle;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.navbar {
  min-height: 150px;
  vertical-align: middle;
}

.navbar-inverse {
  background-color: #3D85C6;
  border-color: #3D85C6;
  vertical-align: middle;
}

.navbar-collapse {
  text-align:center;
  vertical-align: middle;
}
.navbar-nav {
    display:inline-block;
    float:none;
    vertical-align: middle;
}

h1 {
  color: #fff;
}
