body {
  padding-top: 50px;
  font-family: Dinn;
}

.container {
  vertical-align: middle;
  /*line-height: 100px;*/
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
  vertical-align: middle;
}

.navbar {
  min-height: 150px;
  vertical-align: middle;
  line-height: 100px;
}

.navbar-inverse {
  background-color: #3D85C6;
  border-color: #3D85C6;
  vertical-align: middle;
  line-height: 100px;
}

.navbar-collapse {
  text-align:center;
  vertical-align: middle;
  line-height: 100px;
}
.navbar-nav {
    display:inline-block;
    float:none;
    vertical-align: middle;
    line-height: 100px;
}

.btn-lg, .btn-group-lg>.btn {
  font-size: 28px;
  font-family: Dinn;
}

h1 {
  color: #fff;
  font-family: SilaneHead;
  font-size: 50px;
}

h3 {
  color: #fff;
  font-family: SilaneHead;
}


.vertical-center {
  /*min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  /*  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

@font-face {
  font-family: "SilaneHead";
  src: url(http://singaporenews.github.io/static/SilaneHeadAtwenty.otf);
}

@font-face {
  font-family: "Dinn";
  src: url(http://singaporenews.github.io/static/DIN.ttf);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 1200px;
  }
}
